langgraph
langchain-google-genai>=2.0.0
google-auth
langchain-core
langchain-community
ib_insync           # Python wrapper for IBKR
pandas
pandas_market_calendars
numpy
ta                  # Technical Analysis library
pydantic
google-cloud-logging
mcp                 # Model Context Protocol SDK
pandas_ta
fredapi
yfinance
pytz 
fastmcp
uv
pandas
google-genai
google-adk

